# Windows
Thumbs.db

# Vim swap files
*.swp
*.swo

# Atom thing - https://atom.io/packages/savey-wavey
/.on-save.json

# PhpStorm Project file
/.idea

# Composer/library files
/composer.phar
/vendor

# Test results
/test-results

# PHPUnit cache file
/.phpunit.result.cache
